//les mixins permet de créer des groupes de déclarations css  qu'on souhaite reutiliser sur l'ensemble de notre code.
// mixin: sert à appliquer plusieurs styles en une ligne
@mixin titre {
  font-size: 2em;
  color: #e80000;
  text-transform: uppercase;
  font-family: fantasy;
}
@mixin paragraphe{
  font-size: 1.5em;
  color: #eaabe0;
  font-family: cursive;
}
@mixin titre3 {
  font-size: 1em;
  color:#79c9f2;
  font-family: sans-serif;
  text-decoration: overline;
}
h1{
  @include titre;
}
p{
  @include paragraphe;
}
h3{
  @include titre3;
}
