//Les variables permet de stocker des informations comme coleur, police

$myRed: #e80000;
$myPurple: #7e1393;
$myPink: #eaabe0;
$myBlue: #79c9f2;
h1{
  color: $myRed;
}
h3{
  color: $myPurple;
}
h4{
  color: $myBlue;
}
p {
  color: $myPink;
}
